
  html {
    height: 100%;
    padding: 0
  }
  body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: rgba(249,249,249);;


  }

    /*navbar*/
  .container-main-navbar {
    display: inline;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.05);
    background-color: white;
    top: 100%;
  }

  .main-navbar h2 {
    text-align: center;
    color: #193b4f;
  }

  .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: rgba(249,249,249);;

  }



  .card-forms {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.05);
    margin: 1rem;
    padding: 2rem;
    flex-grow: 1; 
  }

  .card-forms h3{
    color: #193b4f;
  }

  .card-forms label,
  .card-forms input,
  .card-forms select,
  .card-forms button {
    width: 100%;
  }
  .card-forms button {
    padding: 1rem;
    background: #193b4f;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }

  #rates-form label,
  #rates-form input,
  #rates-form select{
    color:  #193b4f
  }

  .card-dashboard {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.05);
    margin: 1rem;
    padding: 2rem;
    flex-grow: 1;
  }

    /*footer*/
  .container-main-footer {
      bottom: 100%;
  }

  .main-footer p {
      text-align: center;
      color: #7a7a7a;
  }

  /* highcharts*/
.highcharts-title {
   fill: #193b4f !important;
}  

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid var(--highcharts-neutral-color-10, #e6e6e6);
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}


.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}