
{% extends 'rates/base.html' %}
{% load static %}
{% block content %}

{% include "rates/partials/navbar.html" %}

<div class="container-main">
    <div class="container-main-dashboard">

        <div class="card-forms">
          <div>
            <h3 class="form-title">Check Exchange Rates</h3>
          </div>
          {% include "rates/partials/forms.html" %}
        </div>
        <div class="card-dashboard"> 
          <figure class="highcharts-figure">
            <div id="container"></div>
          </figure>
          
        </div>
        
      
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'rates/js/alert-messages.js' %}"></script>
<script src="{% static 'rates/js/date-validation.js' %}"></script>
<script src="{% static 'rates/js/highcharts-config.js' %}"></script>
<script src="{% static 'rates/js/fetch-data.js' %}"></script>
{% endblock scripts %}

