{% extends 'rates/base.html' %}
{% load static %}
{% block content %}

<div class="main">
  <div class="card-forms">
      <h3>Check Exchange Rates</h3>
    {% include "rates/partials/forms.html" %}
  </div>
  <div class="card-dashboard">
    <figure class="highcharts-figure">
      <div id="container"></div>
    </figure>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'rates/js/alert-messages.js' %}"></script>
<script src="{% static 'rates/js/date-validation.js' %}"></script>
<script src="{% static 'rates/js/highcharts-config.js' %}"></script>
<script src="{% static 'rates/js/fetch-data.js' %}"></script>
{% endblock scripts %}