
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background: rgb(249,249,249);
  }
  .main-header-container {
    background: #193b4f;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-header h1 {
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
  }
  .container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  .content-panel {
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    width: 100%;
    padding: 3rem;
    margin: 2rem auto;
    min-height: 60rem;

    display: flex;             /* flex container */
    gap: 2rem;                 /* espaço entre os filhos */
    flex-wrap: wrap;
  }
  .card {
    background-color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 30%;
    min-width: 28rem;
    max-width: 40rem;
    flex-grow: 1;
  }
  .card form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .card label,
  .card input,
  .card select,
  .card button {
    width: 100%;
    font-size: 1.6rem;
  }
  .card button {
    padding: 1rem;
    background: #193b4f;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }
  .card button:hover {
    background: #162f40;
  }

  .results-list {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.05);
    flex-grow: 2;
    min-width: 28rem;
  }

  .results-list ul {
    list-style: none;
    margin-top: 1rem;
  }

  .results-list li {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding: 0.8rem;
    background: white;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.05);
  }

  @media (max-width: 800px) {
    .content-panel {
      flex-direction: column;
    }
    .card,
    .results-list {
      width: 100%;
    }
  } 
  /* highcharts*/
  * {
    font-family:
        'Roboto', sans-serif
}

.highcharts-figure,
.highcharts-data-table table {
    max-width: auto;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    border: 1px solid var(--highcharts-neutral-color-10, #e6e6e6);
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 5em;
    color: var(--highcharts-neutral-color-60, #193b4f);
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tbody tr:nth-child(even) {
    background: var(--highcharts-neutral-color-3, #b44b4b);
}


